NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
AUTH_URL=http://127.0.0.1:3000
NEXTAUTH_URL=http://127.0.0.1:3000
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
ADMIN_GITHUB_LOGINS=lesitoan
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=develop
GITHUB_CONTENT_TOKEN=
CONTENT_WRITE_MODE=github
